<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.1">

    <display-name>api</display-name>

    <!-- For web context -->
    <servlet>
        <servlet-name>api-dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>

        <!--In the dispatcher-servlet context you will define everything related to Spring web MVC
        (mvc:annotation-driven/, interceptors, view resolvers, exception resolvers, context:component-scan
        for controllers package, aop that you want applied to controllers, etc.);-->
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:ApplicationContext-web.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>api-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>



    <!--<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:log4j.properties</param-value>
    </context-param>-->

    <!--In the main application context you will define all that's non-mvc related
    (for example your persistence configuration, scanning for services and dao packages etc.).-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:ApplicationContext.xml,classpath:ApplicationContext-web.xml</param-value>
    </context-param>

    <context-param>
        <param-name>log4jContextName</param-name>
        <param-value>API</param-value>
    </context-param>

</web-app>